<p id="notice"><%= notice %></p>


<div class="col-md-12">
	<h1>Your Trolley</h1>
</div>

<div class="col-md-12">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Item</th>
				<th>Quantity</th>
				<th>Unit Price</th>
				<th>Total Cost</th>
			</tr>
		</thead>


		<tbody>
			<% @cart.line_items.each do |item| %>
				<tr>
					<td><%= item.product.title %></td>
					<td>1</td>
					<td><%= item.product.price %></td>
					<td>0.00</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
